.table-container {
  max-height: 70vh;
  overflow-y: auto;
}

.table {
  width: 120%;
  border-collapse: collapse;
  background-color: white;
  font-size: 0.9rem;
}

.thead {
  /* position: sticky; */
  top: 0;
  background-color: #779d9e;
  color: white;
  text-align: center;
}

.sticky-header {
  /* position: sticky; */
  top: 0;
  padding: 10px;
  border: 1px solid #ddd;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: "middle"; 
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: bold;
}

.status-tunda {
  background-color: #ffd700;
  color: black;
  
}

.status-aktif {
  background-color: #4caf50;
  color: white;
}

.status-nonaktif {
  background-color: #f44336;
  color: white;
}

.status-ajukan {
  background-color: #2196f3;
  color: white;
}

.status-revisi {
  background-color: #2196f3;
  color: white;
}

.status-belumverifikasi {
  background-color: #b75fcb;
  color: white;
}

.status-kadaluarsa {
  background-color: #555555;
  color: white;
}

.view-doc-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  background-color: #779d9e;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  min-width: 120px;
}

.view-doc-button:hover {
  background-color: #617f80;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.action-buttons {
  display: inline-flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
